.head{
    /* font-size: 32px; */
    margin: 0 auto;
    pointer-events: none;
}
.head .navbar{
    background-color: transparent !important;
}
.head .navbar-light .navbar-nav .nav-link{
    color: #fff;
}
.head .navbar-light .navbar-nav .active>.nav-link{
    color: cadetblue;
    font-size: 28px;
}
.navbar-light .navbar-brand{
    color: #fff !important;
}